@import url('https://fonts.cdnfonts.com/css/old-computer-st');
@import url('https://fonts.cdnfonts.com/css/dec-terminal-modern');
@import url('https://fonts.cdnfonts.com/css/encode-sans-sc');
@import url('https://fonts.cdnfonts.com/css/yaldevi');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #cac8bb;
    font-family: 'Old computer St', sans-serif;
}

#loading {
    background: url('images/pixil-gif-drawing.gif') no-repeat center center / cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire width */
    height: 100%; /* Cover the entire height */
    z-index: 999;
    pointer-events: none;
    transition: opacity 500ms ease;
}

.unselectable {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

.list-div{
    text-align: center;
    padding-top: 30px;
}

nav ul li{
    z-index: 1;
    display: inline;
}

nav ul li a{
    color: #7c7c7c;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Encode Sans SC', sans-serif;
    margin-right: 80px;
}

nav ul li a:hover{
    text-decoration: underline;
    text-underline-offset: 10px; 
    transition: 300ms ease;
    color:white;
    width: max-content;
}

.welcome-page{
	background-color: #dad8c9;
    height: 1300px;
}

.welcome-outer{
	position: relative;
    min-width: 375px; /* Adjust to fit the screen width */
    min-height: 812px; /* Set a minimum height */
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px; 
}

.title-background{
	position: absolute;
	top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); /* Centers the element */
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


.main_title {
    position: absolute;
	top: 50%;
    left: 50%; 
    padding-top: 50px;
    transform: translate(-50%, -50%); /* Centers the element */
    z-index: 1; /* Move title above canvas */
    color: #ffffff; /* Set title color */
    font-size: 40px; /* Set title font size */
    font-weight: bold;
    font-family: 'Old computer St', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.sub-title{
	font-size: 30px;
    padding-bottom: 30px;
    color: #b6b4b4;
   	font-family: 'DEC Terminal Modern', sans-serif;
    font-style: italic;
    font-weight: normal;
}

.resume{
	font-size: 35px;
    padding: 10px;
    background-color:#bdb39b;
    color: #fcfffd;
    box-shadow: 1px 1.5px #000000;
    border-radius: 10px;
   	font-family: 'DEC Terminal Modern', sans-serif;
    font-weight: normal;
}

.about-info{
	text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#portrait{
	float: left;
    padding-right: 20px;
}

.about-header{
	color: #fff;
    font-size: 50px;
    padding: 140px 0px 0px 25px;
    text-shadow: 1px 1px 2px black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px; 
    font-family: 'Encode Sans SC', sans-serif;
}

.about-me{
	font-size: 28px;
    padding: 20px 0px 0px 28px;
    line-height: 1.8;
    color: #7c7c7c;
   	font-family: 'DEC Terminal Modern', sans-serif;
    max-width: 1660px;
}

 #about{
    padding-top: 80px;
    padding-bottom: 80px;
 }

 #projects{
    padding-top: 80px;
    padding-bottom: 80px;
 }

 .project-item-mixed, .project-item-Ta, .project-item-Ai, .project-item-Hotel, .project-item-Data {
    max-width: 700px; 
    min-height: 250px;
}

.projects-header{
    color: #fff;
    font-size: 50px;
    padding: 40px 0px 0px 25px;
    text-shadow: 1px 1px 2px black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 13px; 
    text-align: center;
    font-family: 'Encode Sans SC', sans-serif;
}

.project-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; 
    position: relative;
    flex-wrap: wrap; 
  }
  
  .project-item-mixed {
    padding: 16px;
    color: white;
    margin: 25px;
    font-size: 22px;
    font-family: 'DEC Terminal Modern', sans-serif;
    border-radius: 8px;
    background-color: #7c7c7c;
    transition-property: box-shadow, transform;
    transition-duration: 350ms;
    transition-timing-function: ease;
  
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.84);
  }

.project-item-mixed p{
    font-size: 25px;
    padding: 20px 0px 0px 28px;
    color: white;
    font-family: 'DEC Terminal Modern', sans-serif;
}

.project-item-mixed:is(:hover, :focus) {
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.8);
  transform: translateY(-8px);
  background-image: url('images/MixedFeelingTitle.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 2px black;
}

.project-item-Ta {
    padding: 16px;
    color: white;
    margin: 25px;
    font-size: 22px;
    font-family: 'DEC Terminal Modern', sans-serif;
    border-radius: 8px;
    background-color: #7c7c7c;
    transition-property: box-shadow, transform;
    transition-duration: 350ms;
    transition-timing-function: ease;
  
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.84);
}

.project-item-Ta p{
    font-size: 25px;
    padding: 20px 0px 0px 28px;
    color: white;
    font-family: 'DEC Terminal Modern', sans-serif;
}

.project-item-Ta:is(:hover, :focus) {
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.8);
  transform: translateY(-8px);
  background-image: url('images/TaVsStudents.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 2px black;
}

.project-item-Ai {
    padding: 16px;
    color: white;
    margin: 25px;
    font-size: 22px;
    font-family: 'DEC Terminal Modern', sans-serif;
    border-radius: 8px;
    background-color: #7c7c7c;
    transition-property: box-shadow, transform;
    transition-duration: 350ms;
    transition-timing-function: ease;
  
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.84);
  }

.project-item-Ai p{
    font-size: 25px;
    padding: 20px 0px 0px 28px;
    color: white;
    font-family: 'DEC Terminal Modern', sans-serif;
}

.project-item-Ai:is(:hover, :focus) {
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.8);
  transform: translateY(-8px);
  background-image: url('images/AiVaccumTitle.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 2px black;
}

.project-item-Hotel {
    padding: 16px;
    color: white;
    margin: 25px;
    font-size: 22px;
    font-family: 'DEC Terminal Modern', sans-serif;
    border-radius: 8px;
    background-color: #7c7c7c;
    transition-property: box-shadow, transform;
    transition-duration: 350ms;
    transition-timing-function: ease;
  
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.84);
  }

.project-item-Hotel p{
    font-size: 25px;
    padding: 20px 0px 0px 28px;
    color: white;
    font-family: 'DEC Terminal Modern', sans-serif;
}

.project-item-Hotel:is(:hover, :focus) {
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.8);
  transform: translateY(-8px);
  background-image: url('images/Hotel.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 2px black;
}

.project-item-Data {
    padding: 16px;
    color: white;
    margin: 25px;
    font-size: 22px;
    font-family: 'DEC Terminal Modern', sans-serif;
    border-radius: 8px;
    background-color: #7c7c7c;
    transition-property: box-shadow, transform;
    transition-duration: 350ms;
    transition-timing-function: ease;
  
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.84);
  }

.project-item-Data p{
    font-size: 25px;
    padding: 20px 0px 0px 28px;
    color: white;
    font-family: 'DEC Terminal Modern', sans-serif;
}

.project-item-Data:is(:hover, :focus) {
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.8);
  transform: translateY(-8px);
  background-image: url('images/Database.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 2px black;
}

#experience-items{
	padding-top: 80px;
    padding-bottom: 80px;
    background-color: #DAD8C9;
}

.experience-header{
    color: #fff;
    font-size: 50px;
    padding: 20px 0px 0px 28px;
    text-shadow: 1px 1px 2px black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px; 
    text-align: center;
    font-family: 'Encode Sans SC', sans-serif;
}
  
.fortis{
	text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 70px 0px 70px 260px;
    color: white;
    font-family: 'Encode Sans SC', sans-serif;
}

#fortis-logo{
	float: left;
    padding-right: 20px;
    width: 125px;
    height: 100px;
}

.fortis-info{
	text-align: left;
    margin-right: 15%;
    color: #7c7c7c;
    font-weight: bold;
    font-family: 'Yaldevi', sans-serif;
    font-size: 22px;
}

h3{
	text-decoration: underline;
    text-underline-offset: 5px;
    color: white;
    text-shadow: 1px 1px 2px gray;
    font-size: 30px;
}

h2 {
  display: block;
  font-size: 80%;
  opacity: 0.90;
}

hr{
	margin-left: 15%;
}

hr.fortis-Divider {
    border-top: 4px solid transparent;
    border-right: 0px;
    border-bottom: 0px;
    border-image: linear-gradient(to right,#DAD8C9,#cccbba, #DAD8C9);
    border-image-slice: 1;
    border-radius: 7px;
 	width: 70%;
}         

.RoastyJack{
	text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 70px 260px 70px 0px;
    color: white;
    font-family: 'Encode Sans SC', sans-serif;
}

.roasty-info{
	text-align: right;
    margin-left: 20%;
    color: #7c7c7c;
    font-weight: bold;
    font-family: 'Yaldevi', sans-serif;
    font-size: 22px;
}

/*Remove Link underline and text decoration*/
a {
    text-decoration: none;
}

@media (max-width: 600px) {
    .project-item-mixed, .project-item-Ta, .project-item-Ai, .project-item-Hotel {
        width: 100%;
    }
}