body, html{
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    background-color: #626263;
}

.main_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Move title above canvas */
    color: #ffffff; /* Set title color */
    font-size: 80px; /* Set title font size */
    font-weight: bold;
    font-family: Bradley Hand, cursive;
    text-align: center;
}

nav {
    position: relative;
    z-index: 1;
}

.nav ul li{
    z-index: 1;
    display: inline-block;
    list-style: none;
}

.nav ul li a{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    font-family:  Bradley Hand, cursive;
    
    position: relative;
}