@import url('https://fonts.cdnfonts.com/css/old-computer-st');
@import url('https://fonts.cdnfonts.com/css/dec-terminal-modern');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #e9deb2;
    font-family: 'Old computer St', sans-serif;
}

#loading {
    background: url('images/pixil-gif-drawing.gif') no-repeat center center / cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire width */
    height: 100%; /* Cover the entire height */
    z-index: 999;
    pointer-events: none;
    transition: opacity 500ms ease;
}

.welcome-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.unselectable {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

nav ul li{
    z-index: 1;
    display: flex;
  	flex-direction: column;
    list-style: none;
    width: 290px;
    margin: 10px 0px;
}

nav ul li a{
    color: #7c7c7c;
    text-decoration: none;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Old computer St', sans-serif;
    padding: 10px;
}

nav ul li a:hover{
    color: #e9deb2;
    background-color: #7c7c7c;
    width: max-content;
}


.main_title {
    position: relative;
    top: 60%;
    left: 60%; 
    transform: translate(-50%, -50%); /* Centers the element */
    z-index: 1; /* Move title above canvas */
    color: #ffffff; /* Set title color */
    font-size: 4vw; /* Set title font size */
    font-weight: bold;
    font-family: 'Old computer St', sans-serif;
    text-align: left;
    text-shadow: 1px 1px 2px black;
}

.comp-pic{
    position: absolute;
    top: 50%;
    left: 80%; 
    width: auto; 
    height: 80%; /* Old value was 70%*/
    transform: translate(-50%, -50%); /* Centers the element */
}

.about-header{
	color: #fff;
    font-size: 3vw;
    padding: 40px 0px 0px 25px;
    text-shadow: 1px 1px 2px black;
}

.about-me{
	font-size: 2vw;
    padding: 20px 0px 0px 28px;
    line-height: 1.8;
    color: #7c7c7c;
   	font-family: 'DEC Terminal Modern', sans-serif;
}

.projects-header{
    color: #fff;
    font-size: 3vw;
    padding: 40px 0px 0px 25px;
    text-shadow: 1px 1px 2px black;
}

.project-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
  }
  
  .project-item-mixed {
    padding: 16px;
    color: white;
    margin: 25px;
    font-size: 0.6vw;
    border-radius: 8px;
    background-color: #7c7c7c;
    transition-property: box-shadow, transform;
    transition-duration: 350ms;
    transition-timing-function: ease;
  
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.84);
  }

.project-item-mixed p{
    font-size: 1.2vw;
    padding: 20px 0px 0px 28px;
    color: white;
    font-family: 'DEC Terminal Modern', sans-serif;
}

.project-item-mixed:is(:hover, :focus) {
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.8);
  transform: translateY(-8px);
  background-image: url('images/MixedFeelingTitle.png');
  background-size: cover;
  color: #7c7c7c;
  p{
    color: #7c7c7c;
  }
}

  .project-item {
    padding: 16px;
    color: white;
    margin: 25px;
    font-size: 0.6vw;
    border-radius: 8px;
    background-color: #7c7c7c;
    transition-property: box-shadow, transform;
    transition-duration: 350ms;
    transition-timing-function: ease;
  
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.84);
  }
  
  .project-item p{
      font-size: 1.2vw;
      padding: 20px 0px 0px 28px;
      color: white;
      font-family: 'DEC Terminal Modern', sans-serif;
  }
  
  .project-item:is(:hover, :focus) {
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.8);
    transform: translateY(-8px);
  }
  
  /*Remove Link underline and text decoration*/
  a {
    text-decoration: none;
  }

/*Define style for smaller screens */
@media (max-width: 767px) {
    .main_title {
        font-size: 60px; /* Adjust main title font size for mobile */
    }
    .sub_title {
        font-size: 20px; /* Adjust subtitle font size for mobile */
        top: calc(50% + 80px); /* Adjust based on main title font size */
    }
}

@media screen and (max-width: 767px) {
    .about-content,
    .projects-content {
        padding: 3rem; /* Adjust padding for smaller screens */
    }
    nav ul li {
        margin: 5px 5px;
    }
}

@media screen and (max-width: 480px) {
    .about-content,
    .projects-content {
        padding: 1.5rem; /* Adjust padding for even smaller screens */
    }
    nav ul li {
        margin: 5px 5px;
    }
}